<%= render partial: '/breadcrumb', locals: {
  items: [
    ['Territórios', territories_path],
    [@territory.name],
    ['Telefones']
  ]
}
%>

<div class="card">
  <div class="card-header">
    <%= t('app.titles.phones') %> - <a href="<%= vcards_territory_phones_path(@territory) %>"><%= t('app.links.export_contacts') %></a>
  </div>
  <ul class="list-group list-group-flush">
    <% @phones.each_with_index do |phone, index| %>
      <% phone = PhoneDecorator.new(phone) %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <%= link_to(phone.number, territory_phone_path(@territory, phone)) %>
          </div>
          <div class="col-sm-12 col-md-3">
            <%= phone.contact_name %>
          </div>
          <div class="col-sm-12 col-md-3">
            <% if phone.call_attempts_count.positive? %>
              <span title="<%= l(phone.call_attempts.last.created_at, format: :short) %>">
                <%= time_ago_in_words(phone.call_attempts.last.created_at) %> atrás
              </span>
            <% end %>
          </div>
          <div class="col-sm-12 col-md-3 text-md-right">
            <%= render partial: 'phones/action_badge', locals: { phone: phone } %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<% unless @territory.full?  %>
  <hr>

  <h2>Adicione novos telefones</h2>
  <%= form_with(url: "#{territory_phones_path(@territory)}", method: :post, data: { remote: :false }) do %>
    <div class="row">
      <div class="col-lg-12">
        <%= text_area_tag(:phone_numbers, nil, placeholder: "telefone 1\ntelefone 2\n...\ntelefone 100", rows: 10) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <input type="submit" class="btn btn-success" value="Criar telefones" >
      </div>
    </div>
  <% end %>
<% end %>
