<%= render partial: '/breadcrumb', locals: {
  items: [
    ['Territórios', territories_path],
    [@territory.name],
    ['Telefones']
  ]
}
%>

<div class="card">
  <div class="card-header">
    <%= t('app.titles.phones') %> - <a href="<%= vcards_territory_phones_path(@territory) %>"><%= t('app.links.export_contacts') %></a>
  </div>
  <ul class="list-group list-group-flush">
    <% @phones.each_with_index do |phone, index| %>
      <% phone = PhoneDecorator.new(phone) %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <%= link_to(phone.number, territory_phone_path(@territory, phone)) %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= phone.contact_name %>
          </div>
          <div class="col-sm-12 col-md-4 text-md-right">
            <span class="badge <%= phone.badge_class  %>"><%= phone.badge_text %>
            <% if phone.call_attempts.length.positive? %>
              <span class="badge badge-light"><%= phone.call_attempts.length %></span>
            <% end %>
            </span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<% unless @territory.full?  %>
  <hr>

  <h2>Adicione novos telefones</h2>
  <%= form_with(url: "#{territory_phones_path(@territory)}", method: :post, data: { remote: :false }) do %>
    <div class="row">
      <div class="col-lg-12">
        <%= text_area_tag(:phone_numbers, nil, placeholder: "telefone 1\ntelefone 2\n...\ntelefone 100", rows: 10) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <input type="submit" class="btn btn-success" value="Criar telefones" >
      </div>
    </div>
  <% end %>
<% end %>
