<%= render partial: '/breadcrumb', locals: {
  items: [
    ['Territórios', territories_path],
    [@territory.name, territory_path(@territory)],
    ['Telefones', territory_phones_path(@territory)],
    [@phone.number]
  ]
}
%>

<% unless @territory.assigned_to?(current_user) %>
  <div class="alert alert-danger" role="alert">
    <%= t('app.messages.alert_someone_else_territory') %>
  </div>
<% end %>

<div class="text-center">
  <h2 class"mt-3 mb-3"><%= @phone.number %>
    <span class="badge <%= @phone.badge_class  %>"><%= @phone.badge_text %></span>
  </h2>
</div>

<div class="row">
  <div class="col-6 text-left">
    <a class="btn btn-light w-100" href="<%= territory_phone_path(@territory, @phone.previous) %>"> <%= t('app.links.previous') %></a>
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-light w-100" href="<%= territory_phone_path(@territory, @phone.next) %>"> <%= t('app.links.next') %></a>
  </div>
</div>

<div class="dropdown mt-2">
  <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('app.links.call_number') %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @phone.carrier_variations.each do |carrier, number| %>
      <a class="dropdown-item" href="tel:<%= number.sanitized %>"><%= carrier %></a>
    <% end %>
    <a class="dropdown-item" href="tel:<%= @phone.casted_number.sanitized %>"><%= t('app.links.other_carrier') %></a>
  </div>
</div>


<div class="dropdown mt-2">
  <button class="btn btn-dark dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('app.links.add') %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" data-method="post" href="<%= create_territory_phone_call_attempts_path(@territory, @phone, outcome: 'contacted') %>"><%= t('app.outcomes.contacted') %></a>
    <a class="dropdown-item" data-method="post" href="<%= create_territory_phone_call_attempts_path(@territory, @phone, outcome: 'not_home') %>"><%= t('app.outcomes.not_home') %></a>
    <a class="dropdown-item" data-method="post" href="<%= create_territory_phone_call_attempts_path(@territory, @phone, outcome: 'disconnected') %>"><%= t('app.outcomes.disconnected') %></a>
    <a class="dropdown-item" data-method="post" href="<%= create_territory_phone_call_attempts_path(@territory, @phone, outcome: 'unreachable') %>"><%= t('app.outcomes.unreachable') %></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-danger"
       data-method="delete"
       data-confirm="<%= t('app.messages.confirm_phone_delete') %>"
       href="<%= territory_phone_path(@territory, @phone) %>"><%= t('app.links.remove_phone') %></a>
  </div>
</div>

<div class="mt-5">
  <%= render partial: '/call_attempts/list', locals: { call_attempts: @phone.call_attempts } %>
</div>
