<%= render BreadcrumbComponent.new.for_phone(@phone) %>

<% unless @territory.assigned_to?(current_user) %>
  <div class="alert alert-danger" role="alert">
    <%= t('app.messages.alert_someone_else_territory') %>
  </div>
<% end %>


<div class="text-center">
  <h2 class"mt-3 mb-3"><%= @phone.number %> </h2>
  <p><strong><%= @phone.contact_name %></strong>
    <% if @phone.gender.present? %>
      (<%= gender_label(@phone.gender)  %>)
    <% end %>
  </p>

  <h3><%= render Phones::ActionBadgeComponent.new(phone: @phone) %></h3>

  <p>
  <small>
    <% if @phone.reachable_by.present? %>
      <%= @phone.reachable_by %>
    <% end %>
  </small>
  </p>
</div>

<div class="row">
  <div class="col-6 text-left">
    <a class="btn btn-light w-100" href="<%= @phone_navigator.previous_url(self) %>"> <%= @phone_navigator.previous_label %></a>
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-light w-100" href="<%= @phone_navigator.next_url(self) %>"> <%= @phone_navigator.next_label %></a>
  </div>
</div>

<div class="dropdown mt-2">
  <div class="btn-group btn-block">
    <a href="tel:<%= @phone.casted_number.with_prefix('0').sanitized %>" class="btn btn-warning btn-block"><%= t('app.links.call_number') %></a>
    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <% @phone.carrier_variations.each do |carrier, number| %>
        <a class="dropdown-item" href="tel:<%= number.sanitized %>"><%= carrier %></a>
      <% end %>
      <a class="dropdown-item" href="tel:<%= @phone.casted_number.sanitized %>"><%= t('app.links.other_carrier') %></a>
      <a class="dropdown-item" href="tel:<%= @phone.casted_number.without_area_code %>"><%= t('app.links.without_area_code') %></a>
    </div>
  </div>
</div>


<div class="dropdown mt-2">
  <div class="btn-group btn-block">
    <button class="btn btn-dark dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('app.links.add') %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% %w(contacted not_home disconnected unreachable).each do |outcome|  %>
        <%= render Phones::RegisterOutcomeComponent.new(territory: @territory, phone: @phone, outcome: outcome) %>
      <% end %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-danger"
         data-method="delete"
         data-confirm="<%= t('app.messages.confirm_phone_delete') %>"
         href="<%= territory_phone_path(@territory, @phone, request.query_parameters) %>"><%= t('app.links.remove_phone') %></a>
    </div>
  </div>
</div>

<div class="mt-5">
  <%= render partial: '/call_attempts/list', locals: { call_attempts: @phone.call_attempts } %>
</div>
