<p><strong><%= outcome_label(@call_attempt.outcome) %></strong></p>

<%= simple_form_for(@form, url: @form.url(request.query_parameters), local: true, method: @form.method) do |f| %>
  <div class="inline-check-boxes special-legends soft-labels">
    <%= f.error_notification %>
    <% if @call_attempt.contacted? %>
      <hr>
      <%= f.input :name %>
      <hr>
      <%= f.input :gender, as: :radio_buttons, collection: @form.gender_options %>
      <hr>
    <% end %>

    <%= f.input :action_code, as: :radio_buttons, collection: @form.action_code_options %>

    <hr>
    <%= f.input :notes, as: :text %>
    <hr>
    <%= f.input :reachable_by, as: :text %>
    <hr>

    <%= f.submit(class: 'btn btn-primary btn-block') %>
    <hr>
  </div>
<% end %>
