<% unless call_attempts.empty? %>
  <div class="text-center"><%= t('app.titles.history') %></div>

  <div class="vertical-timeline">
    <% call_attempts.reverse.each do |attempt| %>
      <div class="vertical-timeline-entry">
        <div class="timeline-header">
          <span
            title="<%= outcome_label(attempt.outcome) %>"
            class="timeline-bullet badge-success <%= attempt.outcome.to_s.gsub('_', '-') %>">
          </span>

          <span class="outcome" title="<%= l(attempt.created_at, format: :short) %>">
            <%= time_ago_in_words(attempt.created_at) %> atrás
          </span>
          <div class="float-right">
            <a data-method="delete"
               data-confirm="<%= t('app.messages.confirm_call_attempt_delete') %>"
               href="<%= territory_phone_call_attempt_path(@territory, @phone, attempt) %>">
               <%= t('app.links.remove') %>
            </a> | <a href="<%= edit_territory_phone_call_attempt_path(@territory, @phone, attempt) %>"><%= t('app.links.edit') %></a>
          </div>
        </div>

        <div class="timeline-text">
          <p>
            <% if attempt.user != current_user %>
              <strong>Publicador:</strong> <%= attempt.user.name %><br>
            <% end %>
          </p>

          <% if attempt.notes.present? %>
            <p><%= simple_format(attempt.notes) %></p>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
<% end %>
