<% unless call_attempts.empty? %>
  <h2>Histórico</h2>
  <ul class="list-group">
    <% call_attempts.each do |attempt| %>
      <li class="list-group-item">
        <div class="pointer <%= attempt.contacted? ? 'text-success' : 'text-secondary' %>" data-toggle="collapse" data-target="#call-attempt-details-id_<%= attempt.id  %>">
          <%= outcome_label(attempt.outcome) %>
          <span class="pull-right">
            <%= l(attempt.created_at, format: :short) %>
          </span>
        </div>
          <div class="collapse" id="call-attempt-details-id_<%= attempt.id  %>">
            <% if attempt.contacted? %>
              <div class="card card-body pt-4 call-attempt-details">
                <p>
                  <strong>Nome:</strong> <%= attempt.name %><br>
                  <% if attempt.gender %>
                    <strong>Gênero:</strong> <%= gender_label(attempt.gender)  %><br>
                  <% end %>
                  <% if attempt.user != current_user %>
                    <strong>Publicador:</strong> <%= attempt.user.name %><br>
                  <% end %>
                  <% if attempt.age %>
                    <strong>Idade aproximada:</strong> <%= attempt.age %> ou menos<br>
                  <% end %>
                  <% unless attempt.has_children.nil? %>
                    <strong>Tem filhos?</strong> <%= t attempt.has_children %><br>
                  <% end %>
                  <% unless attempt.can_text.nil? %>
                    <strong>Mandar mensagem de texto?</strong> <%= t attempt.can_text? %><br>
                  <% end %>
                  <% unless attempt.can_call_again.nil? %>
                    <strong>Ligar novamente?</strong> <%= t attempt.can_call_again? %><br>
                  <% end %>
                  <% if attempt.called_annonymously %>
                    <strong>Ligação anônima?</strong><%= t attempt.called_annonymously %><br>
                  <% end %>
                </p>

                <p><strong>Observações:</strong> <%= attempt.notes %></p>

                <% if attempt.reachable_by.present? %>
                  <p><strong>Melhor hora:</strong> <%= attempt.reachable_by %></p>
                <% end %>
              </div>
            <% end %>

            <div class="text-right call-attempt-details">
              <%= link_to 'Excluir', territory_phone_call_attempt_path(@territory, @phone, attempt),
                class: 'dropdown-item btn btn-primary',
                data: { method: :delete, confirm: 'Tem certeza que quer excluir este contato?' }
              %>

              <%= link_to 'Editar', edit_territory_phone_call_attempt_path(@territory, @phone, attempt),
                class: 'dropdown-item btn btn-primary'
              %>
            </div>
          </div>
      </li>
    <% end %>
  </ul>
<% end %>
