<% return unless visible? %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <%= image_tag(avatar_url, class: 'avatar-25') %> <%= user_name %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% each_item.each do |item| %>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if item.active %>" href="<%= item.url %>"><%= item.text %></a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><%= t('app.links.logout') %></a>
      </li>
    </ul>
  </div>
</nav>
