<div class="card">
  <% if vcards? %>
    <div class="card-header">
      <%= t('app.titles.phones') %> - <a href="<%= vcards_path %>"><%= t('app.links.export_contacts') %></a>
    </div>
  <% end %>
  <ul class="list-group list-group-flush">
    <% phones.each_with_index do |phone, index| %>
      <% phone = PhoneDecorator.new(phone) %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <%= link_to(phone.number, territory_phone_path(phone.territory, phone)) %>
          </div>
          <div class="col-sm-12 col-md-3">
            <%= phone.contact_name %>
          </div>
          <div class="col-sm-12 col-md-3">
            <%= render Phones::ContactTimingInformationComponent.new(phone) %>
          </div>
          <div class="col-sm-12 col-md-3 text-md-right">
            <%= render Phones::ActionBadgeComponent.new(phone: phone, url: true) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
