<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= content_for?(:title) ? yield(:title) : t('app.title') %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render NavbarComponent.new %>

    <% unless current_user %>
      <div class="login">
        <%= link_to t('app.links.google_login'), '/auth/google_oauth2', class: 'btn btn-block btn-info google-login'  %>
      </div>
    <% end %>

    <div id="view_container" class="container">
      <%= yield %>
    </div>
  </body>
</html>
